@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-body text-base-700 dark:bg-base-800 dark:text-base-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-base-900 dark:text-base-50;
  }
}

.ch-code-wrapper,
.ch-code {
  color: var(--shiki-color-text) !important;
}

.ch-codegroup .ch-editor-button,
.ch-codeblock .ch-code-button {
  display: none;
  color: var(--ch-icon-text);
}

.ch-codegroup:hover .ch-editor-button,
.ch-codeblock:hover .ch-code-button {
  display: block;
}

div.ch-editor-tab-active {
  color: var(--ch-tab-active-color);
}

:root {
  --shiki-color-text: theme('colors.base.100');
  --shiki-color-background: theme("colors.base.700");
  --shiki-token-constant: theme('colors.emerald.300');
  --shiki-token-string: theme('colors.emerald.300');
  --shiki-token-comment: theme('colors.base.400');
  --shiki-token-keyword: theme('colors.cyan.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.emerald.300');
  --shiki-token-punctuation: theme('colors.base.200');
  --shiki-token-link: theme('colors.base.200');

  --ch-icon-text: theme("colors.base.300");
  --ch-tabs-bg: theme("colors.base.900");
  --ch-tab-border: theme("colors.base.700");
  --ch-tab-active-border: theme("colors.base.700");
  --ch-tab-active-bg: theme("colors.base.700");
  --ch-tab-active-color: theme("colors.base.100");
  --ch-tab-inactive-color: theme("colors.base.500");
  --ch-tab-inactive-bg: theme("colors.base.900");
}
